body {
	font-family: "Calibri";
	display: flex;
	background-color: GhostWhite;
	padding: 0;
	margin: 0;
}

table {
	margin: 15px;
	padding-left: 15px;
	table-layout: auto;
}

th {
	font-weight: bold;
	font-size: 18px;
	padding: 12px;
	text-align: left;
}

td {
	min-width: 100px;
}

form {
	width: 100%;
}

.searchbar {
	background-color: MidnightBlue;
	border: 2px solid Navy;
	color: white;
	padding: 15px;
}

.tablehead {
	font-style: italic;
	color: LightSlateGray;
}
